@inherits System.Web.Mvc.WebViewPage
<a href="/Currency/Get?currencyCode=usd">Api'ye "USD" istek göndermek için tıklayın.</a>
<br />
<a href="/Currency/Get?currencyCode=eur">Api'ye "EUR" istek göndermek için tıklayın.</a>
<br />
<a href="/Currency/Get?currencyCode=gbp">Api'ye "GBP" istek göndermek için tıklayın.</a>